{% extends 'main/base.html' %}
<!-- take everything from -->
{% block title %}
Create new contact
{% endblock %}
{% block content %}
    <h3>Create page</h3>
    <form method="POST", class="form-group">
        {% csrf_token %}
        {{form.name}}<br>
        <br>
        {{form.birthDate}}<br>
        <br>
        {{form.firstName}}<br>
        <br>
        {{form.lastName}}<br>
        <br>
        {{form.phoneNumber}}<br>
        <br>
        {{form.gender}}<br>
        <br>
        {{ adressentery.get_gender_display }}<br>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit", name="create", class="btn btn-success">Add contact</button>
            </div>
        </div>
    </form>
{% endblock %}