{% extends 'main/base.html' %}

<!-- take everything from -->
{% block title %}
Create new contact
{% endblock %}
{% block content %}
    <h3>Create page</h3>
    <div class="input-group-text">
        <form action="" method="POST", class="form-group">
            {% csrf_token %}
            {{form.as_p}}<br>
          
            
            <div class="input-group mb-3">
                <div class="input-group-prepend" style="margin: 0 auto;">
                    <button type="submit", name="create", class="btn btn-success">Add contact</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}