{% extends 'main/base.html' %}

{% block breadcrumb %}{{ block.super }} > Admin page > Confirm delete{% endblock %}

{% block content %}
<style>
.test{
display: inline;
}
a:link {
  text-decoration: none;

}
    
</style>
    <div class="form" style="text-align: center;">
        <h2>Are you sure you want to delete the "<b>{{ obj.name }}</b>" contact?</h2>
        <script type="text/javascript">
            function Confirm(form){
            alert("You have successfully deleted the contact {{obj.name}} !"); 
            form.submit();
            
            }
        </script>
        <form name="form" action="" method="GET">
            
            <button type="submit" class="btn btn-danger" name="confirm" value="Confirm" formmethod="GET" onClick="Confirm(this.form)">Confirm</button>
            
            <button type="submit" class="btn btn-success"name="cancel" value="Cancel" formmethod="GET" formaction="{% url 'contact-list' %}" >Cancel</button>
            
            
        </form><br>
        
    </div>
    
{% endblock %}