{% extends 'main/base.html' %}

{% block breadcrumb %}{{ block.super }} > Admin page > Confirm delete{% endblock %}

{% block content %}
<style>
.test{
display: inline;
}
a:link {
  text-decoration: none;

}
    
</style>
    <div class="form" style="text-align: center;">
        <h2>Are you sure you want to delete the "<b>{{ obj.name }}</b>" contact?</h2>
        <!-- <form action="/api/contact-list/" method="POST" novalidate class="test">
        
            {% csrf_token %}
            <br><a href="{% url 'contact-list' %}"><input class="btn btn-success" id="yes" name="yes" type="submit" value="Yes"></a>
        </form> -->
        <a href="{% url 'contact-list' %}"><input class="btn btn-success" id="yes" name="yes" type="submit" value="Yes"></a>

        
    </div>
    
{% endblock %}