{% extends 'main/base.html' %}
<!-- take everything from -->
{% block title %}
Edit contact
{% endblock %}
{% block content %}
    <h3>Edit contact</h3>
    <!-- Displaying contact card for update -->
    <div class="input-group-text">
        <form method="POST", class="form-group">
            <!-- displaying form fields -->
            {% csrf_token %}
            <input type="text" name="name" value="{{auto.name}}"><br>
            <br>
            <input type="date" name="birthDate" value="{{auto.birthDate}}"><br>
            <br>
            <input type="text" name="firstName" value="{{person.firstName}}"><br>
            <br>
            <input type="text" name="lastName" value="{{person.lastName}}"><br>
            <br>
            <input type="number" name="phoneNumber" value="{{contact.phoneNumber}}"><br>
            <br>
            <p>{{form.gender}}<smal style="font-size: smaller;"> default*</small></p><br>
            <br>
            {{ adressentery.get_gender_display }}<br>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit", name="create", class="btn btn-success">Update contact</button>  
                    <!-- button with style -->
                </div>
            </div>
        </form>
    </div>
{% endblock %}
<!-- <p>{{form.gender}}<smal style="font-size: smaller;"> default*</small></p> -->