{% extends 'main/base.html' %}

{% block title %}
List of contacts
{% endblock %}
{% block content %}
    {% if counter == null %}
        <p>Contact number: <strong>0</strong></p>
    {% else %}
        <p>Contact number: <strong>{{ counter }}</strong></p>
    {% endif %}
    {% for i in lista.all %}
        {% for f in i.person_set.all %}
            {% for q in i.contact_set.all %}
                <div class="input-group-text", style="width: 450px">
                    {% if i.gender == "MALE"%}
                        <img srcset="https://tse4.mm.bing.net/th?id=OIP.lgJhSn6zhYUv2gVStTuRMgHaHa&pid=Api&P=0&w=300&h=300" alt="Avatar" style="width:100%">
                        <!-- add male png -->
                    {% else %}
                        <img srcset="https://tse2.mm.bing.net/th?id=OIP.pjQ06Dr9dcWSuB2XdeRCdwHaHa&pid=Api&P=0&w=300&h=300" alt="Avatar" style="width:100%">
                        <!-- add famele png -->
                    {% endif %}
                        <div class="container">
                            <p>Name: <strong>{{i.name}}</strong></p>
                            <p style="text-transform:lowercase">Gender: <strong>{{i.gender}}</strong></p>
                            <p>Birthday: <strong>{{i.birthDate}}</strong></p>
                            <p>First name: <strong>{{f.firstName}}</strong></p>
                            <p>Last name: <strong>{{f.lastName}}</strong></p>
                            <p>Phone number: <strong>{{q.phoneNumber}}</strong></p>
                        </div>
                </div> <br>
            {% endfor %}
        {% endfor %}
    {% endfor %}

{% endblock %}
